<h1>Create a pirate and two ships!</h1>
<form method="post" action="/pirates">
  <label for="name"> Pirate Name </label>
  <input type="text" name="pirate[name]">
  <label for="name"> Weight </label>
  <input type="text" name="pirate[weight]">
  <label for="name"> Height </label>
  <input type="text" name="pirate[height]">

  <label for="name"> First Ship Name </label>
  <input type="text" id="ship_name_1" name="pirate[ships][][name]">
  <label for="name"> Type </label>
  <input type="text" id="ship_type_1" name="pirate[ships][][type]">
  <label for="name"> Booty </label>
  <input type="text" id="ship_booty_1" name="pirate[ships][][booty]">

  <label for="name"> Second Ship Name </label>
  <input type="text" id="ship_name_2" name="pirate[ships][][name]">
  <label for="name"> Type </label>
  <input type="text" id="ship_type_2" name="pirate[ships][][type]">
  <label for="name"> Booty </label>
  <input type="text" id="ship_booty_2" name="pirate[ships][][booty]">

  <input type="submit" id="Submit" value="submit">
</form>